*{
    margin: 0;
    padding: 0;
} 
html, body{
    height: 100%;
}
#container{
    /*保证footer是相对于container位置绝对定位*/
    position: relative;  
    width: 100%;
    min-height: 100%; 
    /*设置padding-bottom值大于等于footer的height值，以保证main的内容能够全部显示出来而不被footer遮盖；*/   
    padding-bottom: 100px;  
    box-sizing: border-box;
}
/*--------------------head--------------------*/
.head{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 150px;
    text-align: center;/*居中*/
}
#logo{
    border: 2px solid white;
    padding-left: 0px;
    width: 200;
    height: 150;
    object-fit: cover;
}
/*--------------------head end--------------------*/
/*--------------------main--------------------*/
.main{
    width: 100%;
    height: 1200px;
    background: rgb(9, 11, 41);
    overflow: auto;
}
.topnav{
    overflow: hidden;
    background-color: hsl(239, 34%, 35%);
}

/*account*/
.topnav a{
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: rgb(161, 161, 161);
    color: black;
}
.topnav a.active{
    background-color: #2196F3;
    color: white;
}

/*search bar*/
.topnav .search-container{
    float: right;
}
.topnav input[type=text]{
    width: 400px;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}
.topnav .search-container button{
    float: right;
    padding: 16px 16px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
.topnav .search-container button:hover{
    background: #ccc;
}
/*
@media screen and (max-width: 600px){
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
}
/*posters*/
.container-grid{
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto 150px 150px 150px 150px 150px auto;
    /*grid-template-columns: repeat(7,1fr);/*fr应该是平分的作用*/
    grid-gap: 30px;
    grid-template-rows: 400px 300px 300px;
    /*grid-auto-rows: 250px;*/
    border: 2px;
}
.Album{
    grid-column: 2/7;
    grid-row: 1;
    background-color: rgb(184, 184, 184);
    color: white;
    text-align: center;
    font-size: 20px;
}
.poster1{
    grid-column: 2;
    grid-row: 2;
    background: hsl(239, 34%, 35%);
    color: white;
    text-align: center;
    font-size: 15px;
}
.poster2{
    grid-column: 3;
    grid-row: 2;
    background-color: hsl(239, 34%, 35%);
    color: white;
    text-align: center;
    font-size: 15px;
}
.poster3{
    grid-column: 4;
    grid-row: 2;
    background-color: hsl(239, 34%, 35%);
    color: white;
    text-align: center;
    font-size: 15px;
}
.poster4{
    grid-column: 5;
    grid-row: 2;
    background-color: hsl(239, 34%, 35%);
    color: white;
    text-align: center;
    font-size: 15px;
}
.poster5{
    grid-column: 6;
    grid-row: 2;
    background-color: hsl(239, 34%, 35%);
    color: white;
    text-align: center;
    font-size: 15px;
}
.poster6{
    grid-column: 2;
    grid-row: 3;
    background-color: hsl(239, 34%, 35%);
    color: white;
    text-align: center;
    font-size: 15px;
}
.poster7{
    grid-column: 3;
    grid-row: 3;
    background-color: hsl(239, 34%, 35%);
    color: white;
    text-align: center;
    font-size: 15px;
}
.poster8{
    grid-column: 4;
    grid-row: 3;
    background-color: hsl(239, 34%, 35%);
    color: white;
    text-align: center;
    font-size: 15px;
}
.poster9{
    grid-column: 5;
    grid-row: 3;
    background-color: hsl(239, 34%, 35%);
    color: white;
    text-align: center;
    font-size: 15px;
}
.poster10{
    grid-column: 6;
    grid-row: 3;
    background-color: hsl(239, 34%, 35%);
    color: white;
    text-align: center;
    font-size: 15px;
}
img{
    padding-left: 0px;
    width: 100%;
    height: 80%;
    object-fit: cover;
}
/*--------------------main end--------------------*/
/*--------------------footer--------------------*/
.footer{
    width: 100%;
    height: 100px;   /* footer的高度一定要是固定值*/ 
    position: absolute;
    bottom: 0px;
    left: 0px;
    background:black;

    display: flex;
    justify-content: space-around;/* 平均分配*/ 

}
.footer button{
    margin-top: 35px;
    width: 100px;
    height: 30px;
}
/*--------------------footer end--------------------*/
/*--------------------content page--------------------*/
/*页面内窗口：相当于是在原来页面上新增了一个窗口*/
#contentPage{/*充当背景*/
    display: none;/*默认消失的状态*/
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;/*覆盖全屏*/
    height: 100%;
    overflow: auto;/*如果需要的话可以有scroll*/
    background-color:rgba(0, 0, 0, 0.4);/*透明黑色背景*/
}
.contentPage_content{/*充当页面内窗口*/
    background: rgb(216, 216, 216);
    margin: 2% auto;/*相当于margin: 1% auto 1% auto;（对应上右下左）*/
    border: 1px solid  #888;
    border-radius: 5px;
    width: 700px;
    height: 90%;
    overflow: auto;
}
.close{
    float: right;
    margin-right: 5px;
    font-size: 28px;
    font-weight: bold;
}

.innerPage_top{
    margin: 20px;
    display: flex;
    justify-content: space-around;/* 平均分配*/ 
}
.innerPage_top .innerTitle{
    margin-top: 20px;
}
.innerPage_center{
    margin: 20px;
}

/*--------------------content page end--------------------*/
/*--------------------seat page--------------------*/
#seatPage{
    display: none;/*默认消失的状态*/
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;/*覆盖全屏*/
    height: 100%;
    overflow: auto;/*如果需要的话可以有scroll*/
    background-color:rgba(0, 0, 0, 0.4);/*透明黑色背景*/
}
.seatPage_content{/*充当页面内窗口*/
    background: rgb(216, 216, 216);
    margin: 2% auto;/*相当于margin: 1% auto 1% auto;（对应上右下左）*/
    border: 1px solid  #888;
    border-radius: 5px;
    width: 700px;
    height: 90%;
    overflow: auto;
}

.toseatMap_button{
    margin-left: 20px;
    color: white;
    background-color: black;
    border: solid 1px black;
    width: 64px; 
    height: 40px;
}
.toseatMap_button:hover{
    filter: invert(1);
    border: solid 1px white;
}
#seatMapBacknCheckOut{
    width: 100%;
    height: 50px;
    background-color: hsl(239, 34%, 35%);
    z-index: 2;
    margin-top: 0;
    text-align:center;
}
.back_button{
    margin-top:9px;   
    margin-left: auto;
    color: white;
    background-color: black;
    border: solid 1px black;
    width: 75px; 
    height: 40px;
    float: left;
    font-size: larger;
    z-index: 3;
}
.back_button:hover{
    filter: invert(1);
    border: solid 1px white;
}

.cart_button{
    right:0.5%;
    margin-top:9px;  
    color: white;
    background-color: black;
    border: solid 1px black;
    width: 75px; 
    height: 40px;
    float: right;
    font-size: larger;
    z-index: 3;
}
.cart_button:hover {
    filter: invert(1);
    border: solid 1px white;
}

.pageHeader{
    color: rgb(255, 255, 255);
    top:0;
    margin-top:9px;
    left:45%;
    z-index:3;
    display: inline-block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;    
}

.movieScreenOutLine{
    background-color: white;
    padding: 30px;
    border: solid 5px black;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 35px;
    text-align: center;
    color: black;
}

.movieSeatContainer{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    background-color:black;
    width : 100%;

}
.hallWay{    
    background-color: grey;
}

.seatButton button{
    border-radius: 10px;
    width :60px;
    height : 60px;
    margin-left: 15%;
    margin-top: 15px;
    margin-bottom: 15px;

    color: #fff;
}
.seatButtonOccu button{
    border-radius: 10px;
    width :60px;
    height : 60px;
    background-color: rgb(255, 9, 9);

    margin-left: 15%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.emptySeatColor{
    background-color: rgb(93, 93, 231);
}
.occupiedSeatColor{
    background-color: red;
}
.changeToGreen{
    background-color: green;
}
.changeToBlue{
    background-color: rgb(93, 93, 231);
}
/*--------------------seat page end--------------------*/
/*--------------------cart page--------------------*/
#cartPage{
    display: none;/*默认消失的状态*/
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;/*覆盖全屏*/
    height: 100%;
    overflow: auto;/*如果需要的话可以有scroll*/
    background-color:rgba(0, 0, 0, 0.4);/*透明黑色背景*/
}
.cartPage_content{/*充当页面内窗口*/
    background: rgb(216, 216, 216);
    margin: 2% auto;/*相当于margin: 1% auto 1% auto;（对应上右下左）*/
    border: 1px solid  #888;
    border-radius: 5px;
    width: 700px;
    height: 90%;
    overflow: auto;
}
.back_button2{
    margin-top:9px;   
    margin-left: auto;
    color: white;
    background-color: black;
    border: solid 1px black;
    width: 75px; 
    height: 40px;
    float: left;
    font-size: larger;
    z-index: 3;
}
.back_button2:hover{
    filter: invert(1);
    border: solid 1px white;
}
.confirm_button{
    right:0.5%;
    margin-top:9px;  
    color: hsl(239, 34%, 35%);
    background-color: hsl(239, 34%, 35%);
    border: solid 1px hsl(239, 34%, 35%);
    width: 75px; 
    height: 40px;
    float: right;
    font-size: larger;
    z-index: 3;
}


#checkOutBoxLeft{
    margin-top: 55px;
    margin-left: 15px;
    color:white;
    float: left;
    width: 65%;
    height: 500px;
    border: 1px dotted black;
    overflow-x: hidden;
    overflow-y: scroll;    
}
.paymentMethod{
    height: 500px;
}
#checkOutBoxRight{
    margin-top: 55px;
    margin-right: 15px;
    background-color: rgb(226, 226, 226);
    color:black;
    float: right;
    width: 28%;
    height: 500px;
    border: 1px dotted black;  
}
.ticketCard{
    color: black;
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 10px;
    width:88%;
    height:170px;
    background-color: white;
  
}
.ticketCardPic{
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    width: 100px;
    height: 150px;
}
.priceInfo{
    width:49%;
    font-size: 20px;
    float: left;
    text-align: right;
    font-weight: bold;
    height:200px;   
  }

.totalPrice{
    float: right;
    width:49%;
    font-size: 20px;
}
/*--------------------cart page end--------------------*/