#seatMapBacknCheckOut {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #141310;
    z-index: 2;
    top: 0;

  }

#backButton {
    position:fixed;
    margin-top:9px;   
    left:0.5%;
    color: white;
    background-color: black;
    border: solid 1px black;
    width: 64px; 
    height: 40px;
    float: left;
    font-size: larger;
    z-index: 3;
  }
  
  #backButton:hover {
    filter: invert(1);
    border: solid 1px white;
  }
  
  #checkOutButton {
    position:fixed;
    right:0.5%;
    margin-top:9px;  
    color: white;
    background-color: black;
    border: solid 1px black;
    width: 64px; 
    height: 40px;
    float: right;
    font-size: larger;
    z-index: 3;
  }
  
  #checkOutButton:hover {
    filter: invert(1);
    border: solid 1px white;
  }

.pageHeader{
    color: rgb(255, 255, 255);
    top:0;
    margin-top:9px;
    left:45%;
    z-index:3;
    position: fixed;
    display: inline-block;
    text-align:center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;    
}

.movieScreenOutLine{
    background-color: white;
    padding: 30px;
    border: solid 5px black;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 35px;
    text-align: center;
    color: black;
}

.movieSeatContainer{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    background-color:black;
    width : 1900px;

}

.hallWay{    
    background-color: grey;
    
}

.seatButton button{
    border-radius: 10px;
    width :60px;
    height : 60px;


    margin-left: 35%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.seatButtonOccu button{
    border-radius: 10px;
    width :60px;
    height : 60px;
    background-color: rgb(255, 9, 9);

    margin-left: 35%;
    margin-top: 15px;
    margin-bottom: 15px;
}



#testing{
    display:inline;
}

#SeatMapPage{
    display:none;
}


.emptySeatColor{
    background-color: blue;
}

.occupiedSeatColor{
    background-color: red;
}

.changeToGreen{
    background-color: green;
}

.changeToBlue{
    background-color: blue;
}

#CheckOutPage{
    display:none;

}

#checkOutBoxLeft{
  margin-top: 55px;

  color:white;
  float: left;
  width: 79%;
  height: 500px;
  border: 1px dotted black;
  overflow-x: hidden;
  overflow-y: scroll;    
}

.paymentMethod{
    height: 500px;
}

#checkOutBoxRight{
    margin-top: 55px;
    background-color: rgb(225, 255, 169);
    color:black;
    float: right;
    width: 20%;
    height: 500px;
    border: 1px dotted black;  
  }

  .ticketCard{
      color: black;
      display: inline-block;
      margin-top: 25px;
      margin-bottom: 25px;
      margin-left: 10px;
      width:88%;
      height:150px;
      background-color: white;
      border: solid 5px black;
      height: 80px ;
    
  }

  .ticketCardPic{
      margin-left: 10px;
      margin-top: 10px;
      float: left;
    width: 100px;
    height: 60px;
  }

  .priceInfo{
    width:49%;
    font-size: 20px;
    float: left;
    text-align: right;
    font-weight: bold;
    height:200px;   
  }

  .totalPrice{
    float: right;
    width:49%;
    font-size: 20px;

  }


